<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN PAGE</title>
    <style>
        table {
            color: red;
        }
    </style>
</head>

<body>
    <h1>[Main Page]</h1>

    <table>
        <thead>
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>생년월일</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>user01</td>
                <td>좌상현</td>
                <td>971201</td>
            </tr>
            <tr>
                <td>user01</td>
                <td>좌상현</td>
                <td>971201</td>
            </tr>
            <tr>
                <td>user01</td>
                <td>좌상현</td>
                <td>971201</td>
            </tr>
        </tbody>
    </table>
</body>
</html>